@font-face
{
  font-family: "gameplay";
  src: url('font/gameplay.ttf');
}

/*Header part */
body
{
  background-color: #1A1A42;
}

header
{
  background-image: url(image/sky.png);
  padding-bottom: 50px;
  border-style: solid;
  border-radius: 10px;
}

header img
{
  vertical-align: middle;
  float: left;
}

h1
{
  font-family: "gameplay", sans-serif;
  vertical-align: middle;
  float: left;
  color: black;
}

.accueil, .entete
{
  clear: both;
}

.perso
{
  float: right;
  vertical-align: middle;
  font-family: "gameplay";
  font-size: 17px;
  margin: 20px 20px 0px 0px;
}

.perso a
{
  text-decoration: none;
  color: black;
}

.accueil
{
  margin-left: 70px;
  vertical-align: middle;
  font-family: "gameplay";
  font-size: 23px;
}

.accueil a
{
  text-decoration: none;
  color: black;
}

.produit
{
  margin-left: 70px;
  vertical-align: middle;
  font-family: "gameplay";
  font-size: 23px;
}

.produit a
{
  text-decoration: none;
  color: black;
}
/*Header part */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*Section part*/
h2
{
  font-family: "gameplay";
  vertical-align: middle;
  text-align: center;
  color: black;
}

article
{
  display: inline-block;
  vertical-align: middle;
}
/*Predator part*/
.predator
{
  height: 550px;
  width: 400px;
  border-style: solid;
  border-radius: 5px;
  margin-left: 130px;
  background-color: #B1B1EC;
}

.predator h3
{
  text-align: center;
  font-size: 20px;
  font-family: "gameplay";
}

.predator a
{
  color: black;
}

.predator img
{
  height: 177px;
  width: 300px;
  vertical-align: middle;
  margin: 5px 10px 1px 50px;

}

.predator p
{
  font-size: 23px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.predator span
{
  font-weight: bold;
}
/*Predator part*/

/*Madcatz part*/
.madcatz
{
  height: 550px;
  width: 400px;
  border-style: solid;
  border-radius: 5px;
  background-color: #B1B1EC;
}

.madcatz h3
{
  text-align: center;
  font-size: 20px;
  font-family: "gameplay";
}

.madcatz a
{
  color: black;
}

.madcatz img
{
  height: 225px;
  width: 225px;
  vertical-align: middle;
  margin: 5px 10px 1px 80px;

}

.madcatz p
{
  font-size: 23px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.madcatz span
{
  font-weight: bold;
}
/*Madcatz part*/

/*Rogkb part*/
.rogkb
{
  height: 550px;
  width: 400px;
  border-style: solid;
  border-radius: 5px;
  background-color: #B1B1EC;
}

.rogkb h3
{
  text-align: center;
  font-size: 20px;
  font-family: "gameplay";
}

.rogkb a
{
  color: black;
}

.rogkb img
{
  height: 225px;
  width: 225px;
  vertical-align: middle;
  margin: 5px 10px 1px 80px;
}

.rogkb p
{
  font-size: 23px;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.rogkb span
{
  font-weight: bold;
}
/*Rogkb part*/

/*Footer part*/
footer
{
  background-image: url(image/sky.png);
  padding-bottom: 50px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 20px;
}

.whoarewe
{
  float: right;
  vertical-align: middle;
  font-family: "gameplay";
  font-size: 17px;
  margin: 20px 20px 0px 0px;
}

.whoarewe a
{
  text-decoration: none;
  color: black;
}

.contact
{
  float: left;
  vertical-align: middle;
  font-family: "gameplay";
  font-size: 17px;
  margin: 20px 20px 0px 20px;
}

.contact a
{
  text-decoration: none;
  color: black;
}
